[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #3949ab;
    --primary-hover: #303f9f;
    --primary-focus: rgba(57, 73, 171, 0.125);
    --primary-inverse: #FFF;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    color: #2a2670;
    --color:var(--primary);
    text-align: center;
    background-image: url('images/burst.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 30px 0 0 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}

p {
    color: #2a2670;
}

button a {
    color: white;
    --color:var(--primary-inverse);
}

a:hover {
    text-decoration: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.highlight {
    border-bottom: 1px solid rgb(255,255,255,0.5);
}

main {
    padding-top: 0px !important;
}

#mad-lib-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 60px;
    color: white;
    border-radius: 30px;
    background-color: #2a2670;
    position: relative;
}

#mad-lib {
    margin: 0 auto !important;
    font-size: 1.3em;
    color: white;
}

#mad-lib img {
    max-width: 80%;
}

#mad-lib-container:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: #2a2670 transparent;
    display: block;
    width: 0;
}

#choices {
    margin: auto;
    max-width: 550px;
}

#btns {
    display: flex;
    justify-content: space-around;
}

.choice {
    display: block;
    width: 45%;
}

.play {
    margin: auto;
    max-width: 550px;
    padding: 60px;
    border-radius: 30px;
    background-color: #eaf1fc;
    background: rgb(156, 182, 233);
    background: radial-gradient(circle, rgba(156, 182, 233, 1) 0%, rgba(116, 112, 182, 1) 100%);
}

label {
    color: #2a2670;
    text-align: left;
}

input {
    background-color: white;
}